{% extends 'layout.html' %}
{% load static %}

{% block dependencies %}
  {% include 'main-deps.html' %}
  <link rel="stylesheet" href="{% static 'main/css/bug.css' %}">
{% endblock %}

{% block content %}
  <form class="bug-form" method="post" autocomplete="off">
    {% csrf_token %}
    <label>Введите Вашу электронную почту для обратной связи</label>
    {{ form.user_email }}
    <label>Подробно опишите случившуюся проблему и алгоритм действий, который её вызвал</label>
    {{ form.text }}
    <button type="submit" class="btn btn-success" 
    style="width: 80%; height: 10vh; font-size: 40px;"> Отправить </button>
  </form>
{% endblock %}