{% extends 'layout.html' %}
{% load static %}

{% block dependencies %}
  {% include 'main-deps.html' %}
  <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block content %}
  {% if user %}
    <div class="user-data" style="display: flex;">
      <div class="user-info">
        {% if user.is_teacher %}
          <img src="{% static 'img/teacher.jfif' %}" alt="teacher-img">
        {% else %}
          <img src="{% static 'img/pupil.jfif' %}" alt="teacher-img">
        {% endif %}
        <p> {{ user.username }} </p>
        {% if user.last_name or user.first_name %}
          <p> 
            {% if user.last_name %}
              {{ user.last_name }}
            {% endif %}
            {% if user.first_name %}
              {{ user.first_name }}
            {% endif %} 
          </p>
        {% else %} <br>
        {% endif %}
        <br>
        {% if user.last_online %}
          <b> Last online </b>
          <p> {{ user.last_online }} </p>
        {% else %}
          <br><br>
        {% endif %}
      </div>
      {% if is_owner %}
        <div class="user-edit">
          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              {{ field }}
            {% endfor %}

            <button type="submit" class="btn btn-success">
              Сохранить изменения
            </button>
          </form>
          <button class="btn btn-warning" style="background-color: #e61610;" 
          onclick="location.href='{% url 'logout'%}'">Выйти из профиля</button>
        </div>
      {% else %}
        <div class="user-edit">
          <button class="btn btn-warning" style="background-color: #e61610;" 
          onclick="location.href='{% url 'logout'%}'">Написать сообщение</button>
          <button class="btn btn-warning" style="background-color: #e61610;" 
          onclick="location.href='{% url 'logout'%}'">Оценить профиль</button>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}