{% load static %}
<div class="user-info">
  {% if user.is_teacher %}
    <img src="{% static 'img/teacher.jfif' %}" alt="teacher-img">
  {% else %}
    <img src="{% static 'img/pupil.jfif' %}" alt="teacher-img">
  {% endif %}
  <b><p> {{ user.username }} </p></b>
  <p> 
    {% if user.last_name %}
      {{ user.last_name }} 
    {% endif %}
    {% if user.first_name %}
      {{ user.first_name }} 
    {% endif %}
  </p>
  {% if user.last_online %}
    <b><p>Last online</p></b>
    <p>{{ user.last_online }}</p>
  {% else %}
    <br><br>
  {% endif %}
  <b><p>Rating</p></b>
  <div class="star-rating">
    <div class="star-rating_back">
        ★★★★★
    </div>
    <div class="star-rating_front" style="width: {{ user.rating_percentage }}%">
        ★★★★★
    </div>
  </div>
</div>