{% extends 'layout.html' %}
{% load static %}

{% block dependencies %}
  <link rel="stylesheet" href="{% static 'my_profile/css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'lessons/css/lessons.css' %}">
{% endblock %}

{% block content %}
  <form class="lesson-form" method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <p> Название урока </p>
    {{ form.title }}
    <p> Дата проведения урока </p>
    {{ form.date }}
    <p> Описание урока </p>
    {{ form.description }}
    <p> Прикрепленный к уроку файл </p>
    <div class="file-input">{{ form.file }}</div>
    <p> Цена урока(в рублях) </p>
    {{ form.price }}
    <button type="submit" class="btn btn-success"> Сохранить урок </button>
  </form>
{% endblock %}