.bug-form {
  display: block;
  padding: 3% 2%;
  font-size: 2rem;
}

.bug-form input, .bug-form textarea {
  padding: 12px 20px;
  width: 80%;
  margin: 8px 0;
  margin-bottom: 3%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(230, 230, 230, 1);
  letter-spacing: 1.2px;
}