.user-data {
  display: flex;
}

.user-info {
  flex: 4;
  display: block;
  margin-right: 2%;
  background-color: #cce9f657;
  border-radius: 100px; 
  font-size: 2rem;
}

.user-info > img {
  height: 300px;
  width: 300px;
  margin: 30px 0px 10px 0px;
}

.user-edit {
  flex: 6;
  background-color: #a3bac557;
  border-radius: 100px;
}

.user-edit > form {
  display: grid;
  width: 80%;
  margin: auto; 
}

.user-edit > form > input {
  padding: 0px 5px;
  width: 100%;
  margin: 15px 0px;
  margin-bottom: 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(230, 230, 230, 1);
  letter-spacing: 1.2px;
  text-align: center;
  font-size: 2rem;
}

#last_name {
  margin-top: 5%;
}

.user-edit > form > button {
  margin: 20px 0px;
}

.user-edit > button {
  margin: 10px;
}

.user-edit > .redir {
  width: 90%;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 20px;
  height: 20%;
}
