# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
env/
venv/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Operating System
.DS_Store
.Trashes
