{% extends 'layout.html' %}
{% load static %}

{% block dependencies %}
  <link rel="stylesheet" href="{% static 'my_profile/css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'lessons/css/lessons.css' %}">
{% endblock %}

{% block content %}
  <div class="user-data" style="flex-direction: column;">
    <div class="user-info">
      <div class="lessons-container"> 
        {% for lesson in lessons %}
          <a href="{% url 'pay' lesson.id %}">
            <div class="lesson-info">
              <p id="title"> {{ lesson.title|slice:":20" }} </p>
              <b><p id="date"> {{ lesson.date|date:"d.m.y" }}</p></b>
              <p id="teacher-name">{{ lesson.teacher }} </p>
              <p id="price">| {{ lesson.price_with_commission }} ₽ |</p> 
            </div>
          </a>
        {% endfor %}
        {% for i in empty_slots %}
          <div class="lesson-info empty">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
      

