{% extends 'layout.html' %}
{% load static %}

{% block dependencies %}
  <link rel="stylesheet" href="{% static 'my_profile/css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/rating.css' %}">
{% endblock %}

{% block content %}
  {% if user %}
    <div class="user-data">
      {% include 'user-profile.html' %}
      <!-- if it is account owner he can change his information -->
      {% if is_owner %}
        <div class="user-edit">
          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              {{ field }}
            {% endfor %}

            <button type="submit" class="btn btn-success" style="font-size: 30px">
              Сохранить изменения
            </button>
          </form>
          <button class="btn btn-danger"  
          onclick="location.href='{% url 'logout'%}'">Выйти из профиля</button>
        </div>
      {% else %}
        <div class="user-edit" style="display: flex; flex-direction: column;  justify-content: center;align-items: center;">
          <button class="btn redir" style="background-color: #e692f8;"
          onclick="location.href='{% url 'logout'%}'">НАПИСАТЬ СООБЩЕНИЕ <i class="fa-regular fa-message"></i></button>
          <button class="btn redir" style="background-color: #868282;" 
          onclick="location.href='{% url 'rate' user.username %}'">ОЦЕНИТЬ ПРОФИЛЬ <i class="fa-regular fa-star"></i></button>
          {% if user.is_teacher %}
            {% if not sub %}
            <button class="btn redir" style="background-color: #92d36e;" 
            onclick="location.href='{% url 'sub' user.username %}'">ПОДПИСАТЬСЯ НА УРОКИ <i class="fa-solid fa-music"></i></button>
            {% else %}
            <button class="btn redir" style="background-color: #d14141;" 
            onclick="location.href='{% url 'unsub' user.username %}'">ОТПИСАТЬСЯ ОТ УРОКОВ <i class="fa-solid fa-music"></i></button>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}