.lessons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.lessons-container > a {
  text-decoration: none;
  color: inherit;
}

.lesson-info {
  border: 2px solid #222;
  border-radius: 30px;
  background-color: lightblue;
  padding: 20px;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empty {
  border: 0px;
}

.lesson-info > #teacher-name {
  font-weight: 900;
}

.add-lesson-btn {
  margin: 20px 20px 10px 20px;
  height: 50px;
  background-color: rgb(46, 180, 117);
  font-size: 20px;
}