{% extends 'layout.html' %}
{% load static %}

{% block dependencies %}
  {% include 'auth-deps.html' %}
{% endblock %}

{% block content %}
  <form name="login_form" id="login_form" class="auth_form"
    method="post" autocomplete="off">
    <div class="redirection">
      <b>Ещё нет аккаунта?</b>
      <button type="button" class="btn btn-dark" onclick="location.href='{% url 'register'%}'">Зарегистрироваться</button>
    </div>
    {% csrf_token %}
    {% for field in form %}
      {{ field }}
    {% endfor %}
    <button type="submit" id="submit-button" class="btn btn-success">Войти</button>
  </form>
{% endblock %}