<div class="topmenu">
  <a href="{% url 'home'%}" class="dark-section"><i class="fa-solid fa-house" style="color: #868282;"></i></a>
  <a href="{% url 'profile'%}" class="white-section"><i class="fa-solid fa-circle-user" style="color: #eb9a29;"></i></a>
  <a href="{% url 'calendar'%}" class="dark-section"><i class="fa-solid fa-calendar-days" style="color: #e61610;"></i></a>
  <a href="{% url 'chat'%}" class="white-section"><i class="fa-solid fa-message" style="color: #db71f3;"></i></a>
  <a href="{% url 'lessons'%}" class="dark-section"><i class="fa-solid fa-music" style="color: #86dd57;"></i></a>
  <a href="{% url 'pay'%}" class="white-section"><i class="fa-solid fa-credit-card" style="color: #1464f6;"></i></a>
  <a href="{% url 'bug'%}" class="dark-section"><i class="fa-solid fa-bug" style="color: black;"></i></a>
</div>